<section>
  <div class="example-button-row">
    <div class="example-flex-container">
      <button mat-icon-button [routerLink]="['/']">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button [routerLink]="['/search-options']">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>description</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>handyman</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>science</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>history</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>star</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>edit_square</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
