<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
   <mat-icon></mat-icon>
 </button>
 <span>Tax Research Platform</span>
 <span class="example-spacer"></span>
 <button mat-icon-button class="example-icon help-icon">
   <mat-icon>help</mat-icon>
 </button>
 <button mat-icon-button class="example-icon apps-icon">
  <mat-icon>apps</mat-icon>
</button>
<button mat-icon-button class="example-icon language-icon">
 <mat-icon>language</mat-icon>
</button>
</mat-toolbar>
<router-outlet></router-outlet>
